/******************************************************************************
* About page styles.
*******************************************************************************/

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 5px;
  }

}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.about-text {
  max-width: 800px;
}
