/**
 * Homepage link.
 */

.homepage-link-container {
  margin: 40px 10px 50px 10px;
  display: flex;
  justify-content: center;
}

.homepage-link {
  font-size: 10px;
  text-transform: uppercase;
}

/**
 * Headers
 */

.subheader {
  margin: 5px;
}

/**
 * Lists
 */

.list-label {
  color: $blue-md-lt;
}
