/******************************************************************************
* Storms Reach Styles
*******************************************************************************/

/**
 * Color Scheme
 */

$black-md: #151515;
$blue-dk: #000519;
$blue-md: #000A32;
$blue-md-lt: #00507D;
$blue-lt: #0096C8;
$grey-dk: #252525;
$greensea-dk: #1D9E75;
$greensea-md: #56C5B8;
$greensea-lt: #ACF5A8;
$vermillion-md: #FF3322;
$vermillion-lt: #FEAAA3;
$white-green-md: #D3FAD3;
$white-blue-md: #ADEAFE;
$white-md: #FAFFFF;

/**
 * Global Styles
 */

body {
  background: #252525;
  color: #0096C8;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #56C5B8;
}
a:hover {
  text-decoration: underline;
  color: #ACF5A8;
}
a:visited {
  color: #1D9E75;
}

/**
 * Style for outermost application container div.
 */

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background: #151515;
}

/**
 * Imports.
 */

@import 'components';
@import 'header';
@import 'crafting';
@import 'donation';
@import 'homepage';
@import 'notfound';
